@import "tailwindcss";

:root {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Montserrat,
    inria serif,
    Sloop Script Pro;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin.slow {
  animation: spin-slow 8s linear infinite;
}

footer a {
  transition: all 0.3s ease;
}

footer .group:hover .group-hover\:translate-x-2 {
  transform: translateX(0.5rem);
}
.clip-path-hero {
  border-radius: 73% 27% 56% 44% / 46% 38% 62% 54%;
}
@media (min-width: 640px) {
  .clip-path-hero {
    border-radius: 63% 37% 70% 30% / 44% 56% 24% 76%;
  }
}
@media (min-width: 1024px) {
  .clip-path-hero {
    border-radius: 63% 37% 70% 30% / 44% 56% 24% 76%;
  }
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
