@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #c0a719;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffb347;
    --foreground: #4793ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Montserrat,
    inria serif,
    Sloop Script Pro;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin.slow {
  animation: spin-slow 8s linear infinite;
}
